<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Events

    <a data-toggle="collapse" href="#profile_events_new_form">
      Add event
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @profile.events.each do |event| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to event, event %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="profile_events_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
